* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 400;
  background-color: #fdfdfd;
  color: #444;
}

header {
  margin: 1.0em;
  line-height: 1.0em;
}

header h1 {
  font-size: 0.75em;
  padding: 0em;
  margin: 0em;
}

header h2 {
  font-size: 0.6em;
  padding: 0em;
  margin: 0em;
}


article {
  margin: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  padding-bottom: 0.5em;
}

h1 {
  font-size: 2.0em;
  margin-top: 1.0em;
  padding-bottom: 1.0em;
}

h2 {
  font-size: 1.5em;
  padding-top: 0.75em;
}

h3 {
  font-size: 1.25em;
  padding-top: 0.75em;
}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { text-decoration: underline; }
a:visited { color: #205caa; }

ul {
  list-style-position: inside;
  margin-bottom: 1.0em;
}

li p {
  margin-bottom: 0;
}

p {
  font-size: 1.0em;
  line-height: 1.6em;
  margin-bottom: 0.75em;
}

/* Inspiration from https://css-tricks.com/examples/hrs/ */
hr {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  margin: 1em;
}

/* Borrowed from GitHub */
code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
code:before, code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
pre {
  padding: 1.0em;
  overflow: auto;
  font-size: 0.85em;
  line-height: 1.2em;
  background-color: #f7f7f7;
  border-radius: 3px;
  margin-bottom: 1em;
}
pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
pre code:before, pre code:after {
  letter-spacing: 0;
  content: "";
}

figure {
  display: inline-block;
  padding: 1.0em;
  background-color: #f7f7f7;
  border-radius: 3px;
  margin-bottom: 1em;
  max-width: 300px;
}
figure p {
  margin: 0;
}
figcaption {
  text-align: center;
  font-size: 0.85em;
  color: #353535;
  line-height: 1.2em;
}

footer {
  margin: 1.0em;
}

footer small {
  font-size: 0.75em;
}

