<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- For viewing the page on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thoughts of an Eaten Sun</title>
  <!-- Inline CSS Instead? -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>
      <a href="/">Thoughts of an Eaten Sun</a>
    </h1>
    <h2>through the mind of kyle tolle</h2>
  </header>
  <section>
    <article>
      <%= yield %>
    </article>
  </section>
  <footer>
    <small>Copyright &copy; 2016 Kyle Tolle</small>
  </footer>
</body>
</html>

